.maincolor{
    background-color: var(--primary-color);
}
.hero-section{
    background-image: url('../assets/orangebg.webp') ;

    padding: 2.5rem 0;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}
.hero-section h1 span, #typewriter{
    color: var(--primary-color) !important;
}
.hero-section .btn-primary {
    background: var(--primary-gradient);
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.05rem;
    font-weight: 600;
    color: white;
    transition: all 0.3s;
    line-height: 1.35;
}
.typed-cursor{
    color: var(--primary-color) !important;
}

@media only screen and (max-width: 768px) {
  .hero-section {
    background-image: none;
    
  }
}
@media (max-width: 768px) {
    .hero-section .btn-primary {
        width: 100%;
    }
    .hero-section h1 {
    
    font-size: 1.9rem !important;
}
}
.hero-section h1 {
    color: var(--text-color) !important;
    font-size: 3rem;
}